body {
    font-family: Arial, sans-serif;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 10px;
    background: none;
}

.tab {
    margin-right: 10px;
    padding: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid black;
}

.container {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 500px;
    margin: 20px auto;
    transition: opacity 0.5s ease-in-out;
}

.greeting {
    margin-top: 10vh; /* Adjust as needed to reduce empty space */
}

.itinerary {
    margin-top: 90vh; /* Adjust as needed to reduce empty space */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 500px;
    margin: 20px 0;
}

h1, h2, h3, {
    color: black; /* Change greeting text to black */
}

h4 {
  color: #eba134; 
}

p {
    color: #444; /* Change greeting text to dark grey */
}

.card h3, .card p {
    color: #fff; /* Keep itinerary card text white */
}
